.main{
    width: var(--content-width);
    margin: auto;
    margin-top: 70px;
}
.details{
    margin-top: 29px;
    display: flex;
}
.image{
    width: 839px;
    display: flex;
    flex-direction: column;
}
.image>img{
    height: 670px;

}
.image>span{
text-align: right;
font-size: 16px;
color: #808a93;
}
.textDetails{
    width: 503px;
    height: 714px;
    margin-left: 68px;
    display: flex;
    flex-direction: column;
}
.price>h1{
    font-size: 48px;
    font-weight: 700;
}
.littleDetails{
    margin-top: 8px;
    height: 164px;
}
.littleDetails>h2{
color: #808a93;
font-size: 24px;
margin-top: 16px;
font-weight: 500;
}
.littleDetails>h2>img{
    margin-right: 10px;
}
.description{
    height: 78px;
    width: 503px;
    margin-top: 43px;
    overflow: auto;
    color: #808a93;
}
.agentDetails{
    margin-top: 34px;
    height: 144px;
    width: 503px;
    color: #808a93;
    border: 2px solid #9196aa;
}
.agentName{
    margin-left: 20px;
    
    display: flex;
    align-items: center;
}
.position{
    margin-left: 20px;
}
.position>h2{
    font-size: 16px;
}
.name{
    color: #021526;
}
.avatar{
    width: 72px;
    height: 72px;
    border-radius: 100px;
}
.contact>h2{
    margin-left: 24px;
    font-weight: 400;
}
.contact>h2:last-child{
    margin-top: 6px;
}
.contact>h2>img{
    margin-right: 10px;
}


.deleteBtn{
    
    width: 131px;
    height: 34px;
    margin-top: 14px;
    border-radius: 8px;
    color: #808a93;
    font-size: 12;
    background-color: #fff;
    border: 1px solid #808a93;
}
